@font-face{
	font-family: "Headers";
	src: url(NunitoSans-Regular.ttf);
}
  
@font-face{
	font-family: "Others";
	src: url(NunitoSans-ExtraLight.ttf);
}

h1,h2,h3,h4,h5,h6{
	font-family: "Headers";
}

p, a, li{
	font-family: "Others";
	font-size: 24px;
}
header#sidebar {
	background-color: gray;
	white-space: normal;
	color: white;
	position: fixed;
	height: 80px;
	top: 0;
	width: 350px;
	height: 100%;
	left: 0px;
	z-index: 1;
	overflow-y: auto;
	overflow-x: auto;
	transition: left 0.5s

}




header#sidebar>a:visited{
	color: white;
}
 
header#sidebar>a:active{
	background-color: #717171;
}

header#sidebar h1{
	
	display: block;
	padding-left: 20px;
	
}

header#sidebar nav{
	float: left;
	
}

header#sidebar>h1 a{
	font-family: Headers;
	font-size: 48px;
	display: inline;
	text-decoration: none;
	color: white;

}

header#sidebar nav ul{
	list-style-type: none;
}

header#sidebar nav ul li a{
	display: inline-block;
	text-decoration: none;
	color: white;
	position: center;

	padding-left: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-left: 2px solid white;

}
header#sidebar nav ul li a:visited, body.homepage nav ul li a:visited{
	text-decoration: none;
	color: white;
}

header#sidebar nav ul li a:hover, body.homepage nav ul li a:hover{
	text-decoration: underline;

}

section#main{
	margin-left: 350px;
	transition: margin-left 0.5s;
}



article h1{
	font-size: 48px;
	margin-bottom:0;
}




footer.sources{
	position:relative;
	top: 200px;
	padding: 0px;
	width: 80%;
	height: auto;
	max-width: 800px;
	overflow: auto;

}
footer.sources h6{
	margin-bottom: -5px;
	font-size: 14px;
}
footer.sources ul{
	list-style-type: circle;
	list-style-position:inside;
}

footer.sources a, footer.sources li{
	font-size:14px;
}

@media screen and (max-width: 800px) {

}

body.homepage{
	background-color:black;
}

body.homepage header h1{
	font-family: Headers;
	font-size: 48px;
	text-decoration: none;
	text-align: center;
	color: white;
	margin: auto;
	margin-top: 20px;
	
}
body.homepage header{
	background-color: black;
	width: 100%;
	height: auto;
}

body.homepage nav ul li a{
	text-decoration: none;
	color: white;
	padding: 25px;
	text-align: center;
	display: block;
	width: 90%;
	max-width: 350px;
	border: 1px solid white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	overflow: auto;
}

body.homepage nav ul{
	margin-top: 120px;
	list-style-type: none;
}

header#sidebar button{
	right:0;
	top:0;
	background-color:gray;
	width: 25px;
	height: 100%;
	border: none;
	position: absolute;
	overflow-x: hidden;
	color: white;
	cursor: pointer;

}


header#sidebar button:hover{

  background-color: #999999;

}
